In [6]:
from pandas_datareader import data as pdr
import yfinance as yf
import pandas as pd
import numpy as np

In [20]:
#stocks = ['BTC-USD','ETH-USD','USDT-USD','BNB-USD','ADA-USD','XRP-USD','SOL-USD','DOGE-USD','DOT-USD','UNI-USD','BTT2-USD','TRX-USD','NEO-USD', 'XVG-USD','XMR-USD']
stocks = ['BTC-USD']

In [21]:
def get_data(tickers, start_date, end_date):
        
    # download daily price data for each of the stocks in the portfolio
    df = pdr.get_data_yahoo(stocks, start=start_date, end = end_date)['Adj Close']
    df.sort_index(inplace = True)
    
    return df

In [22]:
yf.pdr_override() # <== that's all it takes :-)
# download dataframe
data = pdr.get_data_yahoo(stocks, start="2021-01-01", end="2022-07-25")

[*********************100%***********************]  1 of 1 completed

In [23]:
display(data.head())
display(data.tail())

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-07-20,23393.191406,24196.818359,23009.949219,23231.732422,23231.732422,42932549127
2022-07-21,23233.201172,23388.322266,22431.148438,23164.628906,23164.628906,33631012204
2022-07-22,23163.751953,23671.927734,22603.416016,22714.978516,22714.978516,31421555646
2022-07-23,22706.984375,22977.210938,22002.910156,22465.478516,22465.478516,24021799169
2022-07-24,22465.509766,22974.001953,22306.839844,22609.164062,22609.164062,23565495303